@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  font-family: "Space Grotesk", sans-serif;
  /* overflow: hidden; */
}

.scrollbar-none {
  scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.media-container img {
  transition: transform 0.9s;
}
.media-container:hover img {
  transform: scale(1.1);
}

.media-container:hover h1 {
  text-decoration: underline;
}
